@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geist-Regular";
  src: url(./assets/fonts/Geist-Font/Geist-Regular.ttf) format('truetype');
}
@font-face {
  font-family: "Geist-Medium";
  src: url(./assets/fonts/Geist-Font/Geist-Medium.ttf) format('truetype');
}
@font-face {
  font-family: "Geist-SemiBold";
  src: url(./assets/fonts/Geist-Font/Geist-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: "Geist-Bold";
  src: url(./assets/fonts/Geist-Font/Geist-Bold.ttf) format('truetype');
}


:root {
  /*font-family: "Geist Sans";*/
  line-height: 1.5;
  font-weight: Bold;

  /*color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
